@import "../scss/variables";

body {
  position: relative;
}

a {
  text-decoration: none;
  color: $black-color !important;

  &:hover {
    text-decoration: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0 !important;
}

.dashboard-title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
